main{
    width: 100vw;
    height: 100vh;
}

.dado-sei{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    border-radius: 15px;
    background-color: white;
    padding-top: 3px;
}

#roll{
    width: 50px;
}

.meta{
    width: 47%;
    display: inline-block;
    text-align: center;
}

.point{

   background-color: black;
   border-radius: 50%;
   width: 20px;
   display: inline-block;
   height: 20px;
   margin-top: 5px;
}

